@model IEnumerable<final_project.Models.items>

@{
    ViewData["Title"] = "Index";
    var role = Context.Session.GetString("Role");
    Layout = (role == "admin") ? "_Layoutadmin" : "_Layout";


}
@if (role == "admin")
{
<p>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insertModal"> New Item</button>
    @await Html.PartialAsync("insertitems", new items())
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
           
         
            <th>
                @Html.DisplayNameFor(model => model.imgfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
          
          
                <td>
                    <img src="@item.imgfile" height="150" alt="Image" />
                </td>



                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (role == "admin")
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>

        </tr>
}
    </tbody>
</table>

