@model List<final_project.Models.orders>

@{
    ViewData["Title"] = "Customer Orders Details";
}

<h1>Orders for Customer</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().custname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.custname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                    <a asp-controller="items" asp-action="OrderItems" asp-route-id="@item.Id">Edit Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>