@* 
@model IEnumerable<final-project.Models.items>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insertModal"> New Item</button>
    @await Html.PartialAsync("insertitems", new items()) 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var items in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => items.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.pubdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.imgfile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@items.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@items.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@items.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
